alabaster==0.7.12
attrs==20.3.0
Babel==2.9.0
bleach==3.3.0
build==0.3.1.post1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
cryptography==3.4.7
docutils==0.17
flake8==3.9.0
gitdb==4.0.7
GitPython==3.1.14
idna==2.10
imagesize==1.2.0
importlib-metadata==3.10.0
iniconfig==1.1.1
jeepney==0.6.0
Jinja2==2.11.3
keyring==23.0.1
m2r==0.2.1
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
packaging==20.9
pep517==0.10.0
pkginfo==1.7.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
Pygments==2.8.1
pyparsing==2.4.7
pytest==6.2.3
pytz==2021.1
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.3.1
six==1.15.0
smmap==4.0.0
snowballstemmer==2.1.0
Sphinx==3.5.3
sphinx-autodocgen==1.2
sphinx-epytext==0.0.4
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-fulltoc==1.2.0
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
toml==0.10.2
tqdm==4.59.0
twine==3.4.1
urllib3==1.26.4
webencodings==0.5.1
zipp==3.4.1
