name: _Scratchpad

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - main

permissions:
  contents: write
  pull-requests: write
  actions: read
  pages: write
  id-token: write

jobs:
  test:
    # runs-on: ubuntu-latest
    runs-on: self-hosted

    steps:
      - run: echo Scratchpad
        env:
          GH: ${{ toJson(github) }}
          GHE: ${{ toJson(github.event) }}
          GHEH: ${{ toJson(github.event.head_commit) }}
          GHEHM: ${{ toJson(github.event.head_commit.modified) }}
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.sha }}
      - run: |
          echo Scratchpad
          tools/autogenForwarded.py --apply
          git diff
